<footer class="page-footer font-small pt-1 text-left py-3">
    <div class="row">
        <div class="col-md-4">
            <a class = "my-2 my-sm-0" target="_blank" href="https://www.instagram.com/?hl=pt-br" target="_blank"><img src="../../assets/image/insta.png" alt="" width="30" height="30"> Instagram<br/></a>
            <a class = "my-2 my-sm-0" target="_blank" href="https://pt-br.facebook.com/" target="_blank"><img src="../../assets/image/face.png" alt="" width="30" height="30"> Facebook<br/></a>
        </div>
        <div class="col-md-4">
            <a class = "my-2 my-sm-0" target="_blank" href="https://br.pinterest.com/" target="_blank"><img src="../../assets/image/pinterest-logo-png-circle-2.png" alt="" width="30" height="30"> Pinterest<br/></a>
            <a class = "my-2 my-sm-0" target="_blank" id="git" href="https://github.com/" target="_blank"><img src="../../assets/image/github.png" alt="" width="30" height="30"> GitHub<br/></a>
        </div>
        <div class="col-md-4">
            <a class = "my-2 my-sm-0" target="_blank" href="https://www.whatsapp.com/" target="_blank"><img src="../../assets/image/whatsapp-logo-1-1.png" alt="" width="30" height="30"> WhatsApp<br/></a>
            <a class = "my-2 my-sm-0" target="_blank" href="https://www.youtube.com/" target="_blank"><img src="../../assets/image/youtube.png" alt="" width="30" height="30"> YouTube<br/></a>
        </div>
    </div>
</footer>