<section id="user">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 mt-3 text-center"><strong>CONSULTAR USUÁRIOS</strong></h1>
            <hr class="my-4">
        </div>
    </div>
    <div *ngFor='let _user of users' id="margem">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3 class='mt-3 text-left'>INFORMAÇÕES</h3>
                <p class="text-left"><strong>CÓDIGO:</strong> {{_user.idUsuario}}</p>
                <p class="text-left"><strong>NOME:</strong> {{_user.nome}}</p>
                <p class="text-left"><strong>TELEFONE:</strong> {{_user.telefone}}</p>
                <p class="text-left"><strong>EMAIL:</strong> {{_user.email}}</p>
                <hr />
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>