<div id="home">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 mt-3 text-center"><strong>VAMOS CADASTRAR?</strong></h1>
            <hr class="my-4">
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide mt-3 ml-5 mr-5" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../assets/image/home.png" alt="Primeiro Slide" height="100%" width="100%">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
    </div>
</div>